In [2]:
pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/b7/f8/32d6b5aa4c4bc045fa2c4c58f88c325facc54721956c6313f0afea8ea853/pandas-2.1.0-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.1.0-cp311-cp311-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.0-cp311-cp311-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB 960.0 kB/s eta 0:00:12
    --------------------------------------- 0.2/11.0 MB 1.8 MB/s eta 0:00:06
    --------------------------------------- 0.2/11.0 MB 2.1 MB/s eta 0:00:06
   - -------------------------------------- 0.5/11.0 MB 3.0 MB/s eta 0:00:04
   -- ------------------------------------- 0.6/11.0 MB 3.2 MB/s eta 0:00:04
   -- ------------------------------------- 0.8/11.0 MB 3.4 MB/s eta 0:00:04
   ---- ----------------------------------- 1.2/11.0 MB 4.4 MB/s eta 0:00:03
   ----- ---------------------------------- 1.5/11.0 MB 4.4 MB/s eta 0:00:03
   ------ --------------------------------- 1.8/11.0 MB 5.0 MB/s eta 0:00:02
   -------- ------------------------------- 2.3/11.0 MB 5.6 MB/s eta 0:00:02
   --------- ------------------------------ 2.5/11.0 MB 5.8 MB/s eta 0:00:02
   ---------- ----------------------------- 2.9/11.0 MB 6.3 MB/s eta 0:00:02
   ------------ --------------------------- 3.4/11.0 MB 6.6 MB/s eta 0:00:02
   -------------- ------------------------- 3.9/11.0 MB 7.2 MB/s eta 0:00:01
   ---------------- ----------------------- 4.5/11.0 MB 7.5 MB/s eta 0:00:01
   ------------------ --------------------- 5.0/11.0 MB 7.7 MB/s eta 0:00:01
   ------------------- -------------------- 5.4/11.0 MB 8.0 MB/s eta 0:00:01
   --------------------- ------------------ 6.0/11.0 MB 8.3 MB/s eta 0:00:01
   ----------------------- ---------------- 6.6/11.0 MB 8.4 MB/s eta 0:00:01
   ------------------------- -------------- 7.0/11.0 MB 8.7 MB/s eta 0:00:01
   --------------------------- ------------ 7.7/11.0 MB 8.9 MB/s eta 0:00:01
   ----------------------------- ---------- 8.1/11.0 MB 9.1 MB/s eta 0:00:01
   ------------------------------- -------- 8.7/11.0 MB 9.1 MB/s eta 0:00:01
   --------------------------------- ------ 9.3/11.0 MB 9.4 MB/s eta 0:00:01
   ----------------------------------- ---- 9.9/11.0 MB 9.6 MB/s eta 0:00:01
   ------------------------------------- -- 10.3/11.0 MB 10.2 MB/s eta 0:00:01
   ---------------------------------------  10.9/11.0 MB 11.3 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 11.3 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 10.9 MB/s eta 0:00:00
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ---------------------------------------- 0.0/502.5 kB ? eta -:--:--
   ---------------------------- ---------- 368.6/502.5 kB 11.2 MB/s eta 0:00:01
   --------------------------------------- 502.5/502.5 kB 10.5 MB/s eta 0:00:00
Installing collected packages: pytz, pandas
Successfully installed pandas-2.1.0 pytz-2023.3.post1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [5]:
etiquetas=['a','b','c','d']
datos=np.arange(1,5)
serie=pd.Series(datos,index=etiquetas)
print(serie)

a    1
b    2
c    3
d    4
dtype: int32

In [6]:
print(serie['c'])

3

In [7]:
datos=['Danny',27,'Mishell',26]
serie=pd.Series(datos)
print(serie)

0      Danny
1         27
2    Mishell
3         26
dtype: object

In [8]:
serie=pd.Series([100,500,1200,700],['Empresa1','Empresa2','Empresa3','Empresa4'])
print(serie)

Empresa1     100
Empresa2     500
Empresa3    1200
Empresa4     700
dtype: int64

In [9]:
serie1=pd.Series([100,500,1200,700],['Empresa1','Empresa2','Empresa3','Empresa4'])
serie2=pd.Series([1000,5001,1200,70002],['Empresa1','Empresa2','Empresa3','Empresa4'])
serie3=serie1+serie2
print(serie3)

Empresa1     1100
Empresa2     5501
Empresa3     2400
Empresa4    70702
dtype: int64

In [27]:
filas=['Empresa1','Empresa2','Empresa3','Empresa4']
columnas=['tienda1','tienda2','tienda3']
datos=[[np.nan,100,200],[np.nan,100,300],[300,np.nan,400],[np.nan,100,500]]
dataFrame=pd.DataFrame(datos,index=filas,columns=columnas)
print(dataFrame)

          tienda1  tienda2  tienda3
Empresa1      NaN    100.0      200
Empresa2      NaN    100.0      300
Empresa3    300.0      NaN      400
Empresa4      NaN    100.0      500

In [28]:
print(dataFrame.loc['Empresa2'])

tienda1      NaN
tienda2    100.0
tienda3    300.0
Name: Empresa2, dtype: float64

In [29]:
print(dataFrame.loc[['Empresa2','Empresa3']])

          tienda1  tienda2  tienda3
Empresa2      NaN    100.0      300
Empresa3    300.0      NaN      400

In [30]:
dataFrame['total']=dataFrame['tienda1']+dataFrame['tienda2']+dataFrame['tienda3']
print(dataFrame)

          tienda1  tienda2  tienda3  total
Empresa1      NaN    100.0      200    NaN
Empresa2      NaN    100.0      300    NaN
Empresa3    300.0      NaN      400    NaN
Empresa4      NaN    100.0      500    NaN

In [31]:
#borrar una columna
print(dataFrame.drop(['total'],axis=1))

          tienda1  tienda2  tienda3
Empresa1      NaN    100.0      200
Empresa2      NaN    100.0      300
Empresa3    300.0      NaN      400
Empresa4      NaN    100.0      500

In [20]:
#Para eliminar definitivamente la columna total haciendo uso de inplace desde la original
#print(dataFrame.drop(['total'],axis=1,inplace=True))
#print(dataFrame)

          tienda1  tienda2  tienda3
Empresa1      NaN    100.0      200
Empresa2      NaN    100.0      300
Empresa3    300.0      NaN      400
Empresa4      NaN    100.0      500

In [32]:
condicion= dataFrame>200
print(dataFrame[condicion])

          tienda1  tienda2  tienda3  total
Empresa1      NaN      NaN      NaN    NaN
Empresa2      NaN      NaN    300.0    NaN
Empresa3    300.0      NaN    400.0    NaN
Empresa4      NaN      NaN    500.0    NaN

In [33]:
condicion=(dataFrame['tienda1']>=200 & (dataFrame['tienda2']>=100))
print(dataFrame[condicion])

          tienda1  tienda2  tienda3  total
Empresa3    300.0      NaN      400    NaN

In [34]:
nuevaColumna='1 2 3 4'.split()
dataFrame['indice']=nuevaColumna
print(dataFrame)

          tienda1  tienda2  tienda3  total indice
Empresa1      NaN    100.0      200    NaN      1
Empresa2      NaN    100.0      300    NaN      2
Empresa3    300.0      NaN      400    NaN      3
Empresa4      NaN    100.0      500    NaN      4

In [35]:
dataFrame=dataFrame.set_index('indice')
print(dataFrame)

        tienda1  tienda2  tienda3  total
indice
1           NaN    100.0      200    NaN
2           NaN    100.0      300    NaN
3         300.0      NaN      400    NaN
4           NaN    100.0      500    NaN

In [25]:
#Eliminar datos nulos
eliminarColumnasNulas=dataFrame.dropna(axis=1,inplace=True)
print(eliminarColumnasNulas)

        tienda3
indice
1           200
2           300
3           400
4           500

In [36]:
dataFrame.fillna(value=100, inplace=True)
print(dataFrame)

        tienda1  tienda2  tienda3  total
indice
1         100.0    100.0      200  100.0
2         100.0    100.0      300  100.0
3         300.0    100.0      400  100.0
4         100.0    100.0      500  100.0

In [38]:
#fillna para llenar con valores que deseemos 
media=dataFrame.mean()
print("La media es igual a:\n", media)
dataFrame.fillna(value=media, inplace=True)

La media es igual a:
 tienda1    150.0
tienda2    100.0
tienda3    350.0
total      100.0
dtype: float64

In [42]:
data1=dataFrame.copy()
data2=dataFrame.copy()
print(data1)
print(data2)
dataTotal=pd.concat([data1,data2],axis=0)
print("\t\tDatas unidas ")
print(dataTotal)

        tienda1  tienda2  tienda3  total
indice
1         100.0    100.0      200  100.0
2         100.0    100.0      300  100.0
3         300.0    100.0      400  100.0
4         100.0    100.0      500  100.0
        tienda1  tienda2  tienda3  total
indice
1         100.0    100.0      200  100.0
2         100.0    100.0      300  100.0
3         300.0    100.0      400  100.0
4         100.0    100.0      500  100.0
		Datas unidas:
        tienda1  tienda2  tienda3  total
indice
1         100.0    100.0      200  100.0
2         100.0    100.0      300  100.0
3         300.0    100.0      400  100.0
4         100.0    100.0      500  100.0
1         100.0    100.0      200  100.0
2         100.0    100.0      300  100.0
3         300.0    100.0      400  100.0
4         100.0    100.0      500  100.0

In [43]:
print(dataFrame['tienda1'].unique())

[100. 300.]

In [44]:
print(dataFrame['tienda1'].value_counts())

tienda1
100.0    3
300.0    1
Name: count, dtype: int64

In [45]:
#Al hacer uso de lambda se le aplica a cada elemento
dataTotal=dataTotal.apply(lambda x:x*3)
print(dataTotal)

        tienda1  tienda2  tienda3  total
indice
1         300.0    300.0      600  300.0
2         300.0    300.0      900  300.0
3         900.0    300.0     1200  300.0
4         300.0    300.0     1500  300.0
1         300.0    300.0      600  300.0
2         300.0    300.0      900  300.0
3         900.0    300.0     1200  300.0
4         300.0    300.0     1500  300.0

In [46]:
print(dataTotal.columns)

Index(['tienda1', 'tienda2', 'tienda3', 'total'], dtype='object')

In [47]:
dataTotal.columns

Index(['tienda1', 'tienda2', 'tienda3', 'total'], dtype='object')

In [48]:
dataTotal.index

Index(['1', '2', '3', '4', '1', '2', '3', '4'], dtype='object', name='indice')

In [49]:
#ordenar de menor a mayor
print(dataTotal.sort_values(['tienda3']))

        tienda1  tienda2  tienda3  total
indice
1         300.0    300.0      600  300.0
1         300.0    300.0      600  300.0
2         300.0    300.0      900  300.0
2         300.0    300.0      900  300.0
3         900.0    300.0     1200  300.0
3         900.0    300.0     1200  300.0
4         300.0    300.0     1500  300.0
4         300.0    300.0     1500  300.0